<ul class="sidenav with-video">
	<li>
        <a class="selected" href="/functions/">Getting Started</a>
			<ul class="video-nav">
			    {{> @video-nav-item }}
			    {{> @video-nav-item--selected }}
			    {{> @video-nav-item }}
			    {{> @video-nav-item }}
			</ul>
	</li>
	<li>
		<a href="/runway/">Perch Runway</a>
	</li>
</ul>