pre code {
  border: 0;
}

h1 code,
h2 code,
h3 code,
h4 code {
  background-color: transparent;
  color: currentColor;
  border: 0;
}

p code,
li code {
  background-color: #eee;
  border: #ccc;
  color: #000;
}
