<div class="video-wrapper">
    <div class="responsive-embed widescreen">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/xE0mRj_bOSg" frameborder="0" allowfullscreen></iframe>
    </div>
</div>