<form method="get" action="/search/" class="global-search" role="search">



  <div class="input-group">
    <label class="input-group-label" for="search-q">Search</label>
    <input name="q" id="search-q" type="search" class="input-group-field" placeholder="Search">
    <div class="input-group-button">
        <input type="submit" class="button" value="Go">
    </div>
  </div>
</form>
