<ul class="sidenav">


            <li>
                    <a class="selected" href="/functions/">Function reference</a>

                <ul>

                        <li>
                                <a href="/functions/core/">Core functions</a>

                            <ul>

                                    <li>
                                            <a href="/functions/core/perch-content/">perch_content()</a>

                                    </li>
                            </ul>
                        </li>
                </ul>
            </li>

            <li>
                    <a href="/">Welcome to the exciting Perch documentation</a>

            </li>

            <li>
                    <a href="/perch/">Perch Documentation</a>

                <ul>

                        <li>
                                <a href="/perch/core-tasks/">Perch Core Tasks</a>

                        </li>

                        <li>
                                <a href="/perch/getting-started/">Getting Started With Perch</a>

                            <ul>

                                    <li>
                                            <a href="/perch/getting-started/development-tips/">Development and Workflow Tips</a>

                                    </li>

                                    <li>
                                            <a href="/perch/getting-started/installing/">Installing Perch</a>

                                    </li>

                                    <li>
                                            <a href="/perch/getting-started/moving-a-perch-site/">Moving a Perch site</a>

                                    </li>

                                    <li>
                                            <a href="/perch/getting-started/the-control-panel/">The Perch Control Panel</a>

                                    </li>

                                    <li>
                                            <a href="/perch/getting-started/updating-perch/">Function reference</a>

                                    </li>

                                    <li>
                                            <a href="/perch/getting-started/using-perch/">Using Perch - getting started tutorial</a>

                                    </li>
                            </ul>
                        </li>
                </ul>
            </li>

            <li>
                    <a href="/runway/">Perch Runway</a>

            </li>

  </ul>
