<nav class="site-nav">
    <ul>
      <li class="home-link"><a href="/">Perch Docs</a></li>
      <li><a href="">Runway Docs</a></li>
      <li class="selected"><a href="">Template Reference</a></li>
      <li><a href="">Function Reference</a></li>
      <li><a href="">Add-ons</a></li>
      <li><a href="">API</a></li>
    </ul>
    {{> @search }}
</nav>
