<footer>
</footer>
<script async src="https://cse.google.com/cse.js?cx=007560778035763025039:043iekruiov"></script>
<script src="/assets/js/prism.js" async defer></script>
<script>
    if ("classList" in document.createElement("_")) {
        var hb = document.querySelectorAll('.hamburger');
        if (hb.length) {
            hb[0].addEventListener('click', function(e) {
                e.preventDefault();
                var nav = document.querySelectorAll('nav.primary')[0];
                if (!nav.classList.contains('show')) {
                    nav.classList.remove('show-for-medium', 'hide');
                    nav.classList.add('show');
                } else {
                    nav.classList.remove('show');
                    nav.classList.add('hide');
                }
            });
        }
    }


        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-8618320-3']);
        _gaq.push(['_trackPageview']);

        (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

</script>
