<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>{{title}} - Perch CMS documentation</title>
  <meta name="description" content="{{ description }}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{ description }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <link href="/assets/css/docs.css" rel="stylesheet">
  <script type="text/javascript" src="//use.typekit.net/kiw6gix.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

</head>
<body>
  <nav class="global-bar show-for-small-only">
    <ul class="nav-products">
        <li class="docs"><a href="https://docs.grabaperch.com">Docs</a></li>
    </ul>
    <a href="?nav=show" class="hamburger">☰</a>
</nav>
<nav class="global-bar primary show-for-medium">
    <ul class="nav-products">
        <li class="perch"><a href="https://grabaperch.com">Perch</a></li>
        <li class="runway"><a href="https://perchrunway.com">Runway</a></li>
        <li class="shop"><a href="https://shop.perchcms.com">Perch Shop</a></li>
        <li class="addons first-right"><a href="https://grabaperch.com/add-ons">Add-ons</a></li>
        <li class="selected docs"><a href="https://docs.grabaperch.com">Docs</a></li>
        <li class="support"><a href="https://community.perchcms.com/forum/">Support</a></li>
        <li class="account"><a href="https://grabaperch.com/account">Account</a></li>
    </ul>
</nav>
{{> site_nav}}

<main class="wrapper">
    <nav class="sidebar">
      <ul class="sidenav">
        {{#each collections}}
          <li>
            {{#equal @key ../collection}}
              <a href="{{metadata.path}}" class="selected">{{metadata.title}}</a>

                <ul class="video-nav">
                {{#each @this}}
                  <li{{#equal video_id ../../video_id}} class="selected"{{/equal}}>
                      <a href="/{{path}}">{{title}}</a>
                      <span class="badge">{{duration}}</span>
                  </li>
                {{/each}}
                </ul>

            {{else}}
              <a href="{{metadata.path}}">{{metadata.title}}</a>
            {{/equal}}
          </li>
        {{/each}}
      </ul>
    </nav>

<article class="content">

  <h1>{{ title }}</h1>

  <div class="video-wrapper">
    <div class="flex-video widescreen">
      <iframe src="https://www.youtube-nocookie.com/embed/{{ video_id }}?showinfo=0&amp;rel=0" frameborder="0" allow="encrypted-media" gesture="media" allowfullscreen class="embed-responsive-item" width="847" height="476"></iframe>
    </div>
  </div>

  <div class="video-detail">
    <div class="inner-panel">
        {{{ contents }}}


        <ul class="pagination-pointed pagination text-center" role="navigation" aria-label="Pagination">
          {{#if previous }}
            <li class="pagination-previous">
              <a class="pagination-pointed-button" href="/{{ previous.path }}" aria-label="Previous video">
                Previous<span class="show-for-sr"> video</span>
              </a>
            </li>
          {{/if}}
          {{#if next }}
            <li class="pagination-next">
              <a class="pagination-pointed-button" href="/{{ next.path }}" aria-label="Next video">
                Next<span class="show-for-sr"> video</span>
              </a>
            </li>
          {{/if}}
        </ul>

    </div>
    
  </div>




  
</article>




</main>
{{> footer}}
</body>
</html>