<table>
<thead>
<tr>
<th>Gateway</th>
<th>Supported</th>
<th>Seen working</th>
<th>Tax evidence collection</th>
<th>Recurring payments</th>
</tr>
</thead>
<tbody>
<tr>
<td><a href="/addons/shop/gateways/braintree/">Braintree</a></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td></td>
</tr>
<tr>
<td><a href="/addons/shop/gateways/manual/">Manual</a></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td>N/A</td>
<td></td>
</tr>
<tr>
<td><a href="/addons/shop/gateways/paypal-express/">PayPal Express</a></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td></td>
</tr>
<tr>
    <td><a href="/addons/shop/gateways/stripe/">Stripe</a></td>
    <td><img src="/assets/svg/check.svg" alt="Yes"></td>
    <td><img src="/assets/svg/check.svg" alt="Yes"></td>
    <td><img src="/assets/svg/check.svg" alt="Yes"></td>
    <td></td>
</tr>
<tr>
<td><a href="/addons/shop/gateways/stripe-sca/">Stripe SCA</a></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td></td>
</tr>
<tr>
<td><a href="/addons/shop/gateways/worldpay/">Worldpay</a></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td><img src="/assets/svg/check.svg" alt="Yes"></td>
<td></td>
<td></td>
</tr>
</tbody>
</table>
